#root {
    background-image: url("./res/computer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}

body, html {
    height: 100%
}